In [1]:
#EJ 1
import pandas as pd
obj = pd . Series ([7 ,4 , -5 ,3])
display ( obj )
display ( obj . array )
display ( obj . index ) # Por default , los indices van de 0 a N -1.

0    7
1    4
2   -5
3    3
dtype: int64

<PandasArray>
[7, 4, -5, 3]
Length: 4, dtype: int64

RangeIndex(start=0, stop=4, step=1)

In [15]:
#EJ 2
import numpy as np
obj2 = pd . Series ([ np . pi ,0 , -2 ,1.41] , index = [ " d " , " b " , " c " , " a " ])
display ( obj2 )
display ( obj2 . array )
display ( obj2 . index )

 d     3.141593
 b     0.000000
 c    -2.000000
 a     1.410000
dtype: float64

<PandasArray>
[3.141592653589793, 0.0, -2.0, 1.41]
Length: 4, dtype: float64

Index([' d ', ' b ', ' c ', ' a '], dtype='object')

In [14]:
#EJ 3
#obj2 [ " a " ]
#obj2 [3]
#obj2 [1:3]

#obj3 = obj2 [[ " a " ," b " ]]
#obj3
#obj3 . index
obj2 [ obj2 >1]

 d     3.141593
 a     1.410000
dtype: float64

In [18]:
#EJ 4
#np . exp ( obj2 )
obj2 * 3

 d     9.424778
 b     0.000000
 c    -6.000000
 a     4.230000
dtype: float64

In [27]:
#EJ 5
series1 = pd . Series ([ " a " , " b " , " c " , " b " , " a " , " c " , " c " , " x " ])
series1 . isin ([ " b " , " c " ])
#series1 . value_counts ()

0    False
1     True
2     True
3     True
4    False
5     True
6     True
7    False
dtype: bool

In [61]:
#EJ 6 Y 7
data = { " nombre " : [ "Rodrigo" , "Sergio" , "Cristina" , "Diana" ] , " altura " :
np . array ([178 , 172 , 175 , 168]) , " peso " : np . array ([81.2 , 76.1 , 68.5 ,
64.0]) }
display ( data )
pacientes = pd . DataFrame ( data ) . set_index ( " nombre " )
display ( pacientes )
type(data[" peso "].dtype)

{' nombre ': ['Rodrigo', 'Sergio', 'Cristina', 'Diana'],
 ' altura ': array([178, 172, 175, 168]),
 ' peso ': array([81.2, 76.1, 68.5, 64. ])}

           altura    peso
 nombre
Rodrigo        178    81.2
Sergio         172    76.1
Cristina       175    68.5
Diana          168    64.0

numpy.dtype[float64]

In [49]:
#EJ 8
alturas = pacientes[" altura "]

In [60]:
# EJ 9
pacientes[ " altura " ].Rodrigo
#pacientes[ " Rodrigo " ].altura

178

In [65]:
from gapminder import gapminder
display(gapminder)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]